/.vscode/
*__pycache__/
*.ipynb_checkpoints/
*.ipynb
/conf/
/conf/rsa/
/conf/conn/
*.yaml
/log/
*.log
/res/pro/
/bin/*.py
!template.*
!logging.yaml
!template_post.py
!res/dev/*.yaml
/rsa/
d:\pycharm\py_sql_client\conf\conn
D:\pycharm\py_sql_client\conf\conn
